.composer/
.config/
.DS_Store
.env
.env*
.eslintcache
.grunt
.idea
.lock-wscript
.merge_file_*
.next
.node-gyp/
.node_repl_history
.npm
.nyc_output
.sass-cache
.sublime-*
.user.ini
.vagrant
.vscode
.yarn-integrity
node_modules/
npm-debug.log
npm-debug.log*
vendor/
